//variables.scss

$color-primary: #282c34;
$color-secondary: #61dafb; 
$color-dark: #1f1f1f;
$color-dark-red: #bb0909;
$color-light: #ffffff;
$color-light-red: #FF3333;
$color-border: #373c43;
$color-border-focus: #61dafb;
$color-form-background: #202227;
$color-input-background: #1f1f1f;
$color-placeholder: #74787e;
$color-error: #ff5555;
$color-article-bg: #1f1f1f;
$color-header: #282c34; 
$color-h1: #61dafb;
$color-h2: #ffffff;
$color-article-text: #aaaaaa;
$color-article-header: #ffffff;
$color-button-green: #9ed997;
