
.register {
  display: flex;
  flex-direction: column;
  justify-content: center;

  form {
    @include formStyle;
    max-width: 100%;
  }

  .error {
    color: $color-error;
    margin-top: 1rem;
    text-align: center;
  }
}
