.allLinks {
  @include formStyle;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    button {
      @include submitBtn;
      max-height: 2rem;
    }
  }
  
  button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: lighten($color-border, 25%);
    text-align: left;
    margin: 0.5rem 0;
    color: rgba(255, 255, 255, 0.87);

    img {
      width: 5rem;
      height: 5rem;
      object-fit: cover;
      overflow: hidden;
      border: 0.1rem solid lighten($color-border, 45%);
      border-radius: 50%;
    }
  }
}